.root {
  flex-grow: 1;
  padding: 10px;
  justify-content: center;
}

.main-img {
  width: 90%;
  max-width: 600px;
  height: auto;
}

.suggested-img {
  height: 2em;
  width: 2em;
}

.product-title {
  padding-top: 0;
  font-size: 25px;
  color: black;
}

.secondary-title {
  font-size: 22px;
  color: dimgray;
  font-weight: 400;
}

.suggested-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200, 1fr));
  grid-gap: 1rem;
}

.suggested-product-box {
  display: flex;
  background: #f0f0f0;
  padding: 1.5rem;
  border-radius: 1rem;
}

.suggested-img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.suggested-description {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}

.suggested-price {
  font-weight: bold;
  font-size: 17px;
}
.existing-review-container {
  display: grid;
  width: 730px;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  max-height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}

.review-container {
  display: flex;
  flex-direction: column;
}

.review-box {
  background: #f0f0f0;
  max-width: 350px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
}

.review-hr {
  background-color: gray;
  width: 200px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

.post-new-review-container {
  display: flex;
  flex-direction: column;
}

.spacing-new-review {
  padding: 0.1rem;
}

button {
  width: fit-content;
}

.customer-description {
  word-wrap: break-word;
}

.grid-expansion-panel {
  padding-top: 20px;
}

.short-spacing {
  margin-top: 5px;
}
